@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800&display=swap');
// Break Point
$break-xl: 1349px;
$break-lg: 1279px;
$break-md: 1151px;
$break-sm: 991px;
$break-xs: 767px;
$break-xxs: 599px;
$break-xxxs: 480px;
$break-xxxxs: 370px;

//font family
$ff-arial:Arial, Helvetica, sans-serif;
$ff-georgia:Georgia, Times New Roman, Times, serif;
$ff-poppins:'Poppins', sans-serif;

// theme colors
$color-white:#ffffff;
$color-one:#f15412;
$color-one-light:#f15412;
$color-two:#34b3f1;
$color-two-light:#34b3f1;

// neutral colors
$color-neutral:#000;
$color-neutral-9:lighten($color-neutral,10%);     // #1a1a1a
$color-neutral-8:lighten($color-neutral,20%);     // #333333
$color-neutral-7:lighten($color-neutral,30%);     // #4d4d4d
$color-neutral-6:lighten($color-neutral,40%);     // #666666
$color-neutral-5:lighten($color-neutral,50%);     // #808080
$color-neutral-4:lighten($color-neutral,60%);     // #999999
$color-neutral-3:lighten($color-neutral,70%);     // #b3b3b3
$color-neutral-2:lighten($color-neutral,80%);     // #cccccc
$color-neutral-1:lighten($color-neutral,90%);     // #e5e5e5 
$color-neutral-05:lighten($color-neutral,95%);    // #f0f0f0
$color-neutral-04:lighten($color-neutral,96%);    // #f5f5f5
$color-neutral-03:lighten($color-neutral,97%);    // #f7f7f7

// margin padding
$mp-0:0;
$mp-15-0:15px 0;
$mp-30-0:30px 0;
$mp-20-30:20px 30px;
$mp-30:30px;
$mpt-25:25px 0 0 0;
$mpt-30:30px 0 0 0;
 